:root{
    --brand-color:var(#fff)
    width: 1440px;
}

*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

img{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

.link{
    text-decoration: none;
}
   
.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* MOBILE */

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
      max-width: 428px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .section {
      padding: 96px 0;
    }


/* header */

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    display: flex;
    align-items: center;
}

.logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-decoration{
    color:#2e2f42;
}

.menu{
    display: none;
}

.address-design{
    display:none;
}

/* -------------------------- HAMBURGER MOBILE --------------------------- */

.button-hamburger {
    border: none;
    background-color: #fff;
    stroke: #2e2f42;
    cursor: pointer;
  }

  .menu-hamburger {
    display: flex;
    margin-top: 24px;
    margin-right: 16px;
    margin-bottom: 24px;
  }

  .menu-container-a {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #fff;
    z-index: 999;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container-a.is-open {
    transform: translateY(0);
  }

  .hamburger-div {
    margin: auto;
    max-width: 428px;
  }

  .hamburger-button-container {
    display: flex;
  }

  .hamburger-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms var(--transition-variable),
      border 250ms var(--transition-variable);
  }

  .hamburger-close-button:hover,
  .hamburger-close-button:focus {
    background-color: #404bbf;
    border: none;
  }

  .hamburger-close-svg {
    fill: #2e2f42;
    width: 8px;
    height: 8px;
  }

  .hamburger-close-button:hover > .hamburger-close-svg,
  .hamburger-close-button:focus > .hamburger-close-svg {
    fill: #fff;
  }

  .hamburger-navigation {
    padding-left: 40px;
    padding-top: 80px;
  }

  .hamburger-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .hamburger-nav-link {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2e2f42;
    transition: color 250ms var(--transition-variable);
  }

  .hamburger-nav-link:hover,
  .hamburger-nav-link:focus {
    color: #404bbf;
  }

  .hamburger-address {
    padding-top: 284px;
  }

  .hamburger-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 40px;
  }

  .hamburger-phone {
    color: #4d5ae5;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .hamburger-mail {
    color: #434455;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  .hamburger-social-media-list {
    display: flex;
    gap: 56px;
    margin-top: 48px;
    margin-bottom: 40px;
    margin-left: 40px;
  }

  .hamburger-social-media-li {
    height: 40px;
    width: 40px;
  }

  .hamburger-social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--transition-variable);
  }

  .hamburger-social-media-link:hover,
  .hamburger-social-media-link:focus {
    background-color: #4d5ae5;
  }

  .hamburger-svg {
    fill: #f4f4fd;
    width: 16px;
    height: 16px;
  }

/* sekcja pierwsza */

.title-background {
    background: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-mobile.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
    width: 100%;
    height: 432px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-mobile@x2.jpg);
    }
  }

.title-background{
    display: flex;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 112px;
    width: 100%;
    height: 432px;
}

.title{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 72px;
}


.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms var(--transition-variable);
}

.button:hover,
.button:active{
    background-color:  #404BBF;
    cursor: pointer;
}

/* sekcja druga */

.section{
    margin: 96px 0 96px 0;
    display: flex;
}

.menu-header{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.characteristics{
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
    margin-bottom: 72px;
    align-items: flex-start;
    margin-bottom: 8px;
}

.paragraph{
    font-weight: 500;
    font-size: 16px;
    color: var(--text);
    margin: 0;
    letter-spacing: 0.02em;
    max-width: 396px;
}

/* sekcja czwarta */

.section-team{
    background-color: #F4F4FD;
    padding: 96px 0;
    align-items: center;
}

.section-team-header{
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    color: #2e2f42;
    text-align: center;
}

.menu-item-teams{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team {
    background-color: var(--white-background);
    border-radius: 0px 0px 4px 4px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
      margin-bottom: 24px;
      background-color: #FFFFFF;
}
  
.team-container{
    padding: 32px 0px;
}

.name {
    text-align: center;
    margin-bottom: 8px;
}

.team-name{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
}

.text{
    text-align: center;
    margin-bottom: 8px;
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

.social-icon{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap:24px;
}

.social-item{
    width: calc((100% - 72px) / 4);
    width: 40px;
    height: 40px;
}

.social-media-item{
    fill: #f4f4fd;
}

.social-media{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media:hover,
.social-media:focus{
    background-color: #404bbf;
}

/* sekcja piąta */

.section-team-header{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

.section-customers {
    padding: 96px 0 96px;
}

.menu-item-customer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    padding-bottom: 96px;
}

.customers{
    width: 168px;
    height: 88px;
}

.customers-box{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: color 250ms var(--transition-variable), 
    border-color 250ms var(--transition-variable);
}
  
.customers-box:hover,
.customers-box:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customers-icon {
    fill: currentColor;
}

/* stopka */

.footer-background{
    display: flex;
    background-color: #2e2f42;
    color: var(--light);
    padding: 96px 0 96px 0;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 664px;
    width: 100%;
}


.footer-logo{
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-weight: 800;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin: 0 auto 16px auto;
}

.footer{
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
}

.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-paragraph {
    color: var(--light);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.logo-decorations{
    color:#f4f4fd;
}

.footer-paragraph{
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
    width: 264px;
}


.footer-media{
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin-bottom: 16px;
}

.media{
    display: flex;
    gap:16px;
    list-style: none;
}

.footer-social{
    width: 40px;
    height: 40px;
}

.socials-media{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-media:hover,
.socials-media:focus{
    background-color: #31d0aa;
}


.subscribe-footer{
margin-left: 16px;
fill: #fff;
}

.buttom-subscribe{
    color: #ffffff;
    background-color: #4D5AE5;
    min-width: 165px;
    height: 40px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}


.email {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
}


.mail-decoration{
    width: 398px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
}

.footer-form{
    padding-top: 72px;
}

/* ================================================= MODAL WINDOW ========================================= */

.modal-window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms var(--transition-variable),
      visibility 250ms var(--transition-variable);
  }

  .modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms var(--transition-variable);
    padding: 72px 24px 24px 24px;
  }

  .form-text {
    color: #2e2f42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
  }

  .form{
    margin-bottom: 8px;
  }

  .form-name {
    color: #8e8f99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
    display: block;
  }

  .field-wrapper {
    position: relative;
    margin-bottom: 8px;
  }

  .icon-wrapper {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-wrapper:focus {
    border-color: #4d5ae5;
  }

  .icons-form{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-wrapper:focus + .icons-form {
    fill: #4d5ae5;
  }

  .field-wrapper-comment{
    margin-bottom: 16px;
  }

  .textarea {
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .textarea:focus {
    border-color: #4d5ae5;
  }

  .policy{
    margin-bottom: 24px;
  }

  .privacy {
    display: block;
    color: #8e8f99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }

  .privacy-check{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    padding-left: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .privacy-checked:checked
    + .user-privacy-box
    .privacy-check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .privacy-policy{
    color: #4d5ae5;
    }

    .bottom-send{
        display: block;
        min-width: 169px;
        height: 56px;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        color: #fff;
        background: #4d5ae5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

    .modal-bottom{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        background-color: #e7e9fc;
        fill: #2e2f42;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 250ms var(--transition-variable),
          border 250ms var(--transition-variable);
      }
    
    .modal-close-button:hover,
    .modal-close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
  }

  .bottom-modal{
    transition: fill 250ms var(--transition-variable);
  }

  .is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .terms-text{
    margin-left: 8px;
  }
}

/* --------------------------------------------- MOBILE MAX 428PX ------------------------------------------------ */

@media screen and (max-width: 428px) {
    .mail-decoration {
      max-width: 300px;
    }
  
    .hamburger-social-media-link {
      width: 40px;
      height: 40px;
    }
  
    .modal-body {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 290px;
      min-height: 584px;
      border-radius: 4px;
      background-color: #fcfcfc;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
      transition: transform 250ms var(--transition-variable);
      padding: 72px 24px 24px 24px;
    }
  }

/* ================================================= NOT DESKTOP 👇 ========================================= */
@media screen and (max-width: 1157px) {
    .icon-conteiner,
    .section-photo{
      display: none;
    }
}

/* ================================================= TABLET ========================================= */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
    }
  
    .section {
      padding: 96px 0;
    }

/* HEADER */

.page-header {
    border-bottom: 1px solid var(--background-color-2);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 40px;
}

.menu-address{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.box{
    display: flex;
    align-items: center;
}

.logo-decoration{
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

.logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.link-design{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    display: inline-block;
    padding: 24px 0;
    transition: color 250ms var(--transition-variable);
    position: relative;
}

.link-active{
    color: #404BBF;
    position: relative;
}

.link-active::after{
    content: "";
    position: absolute;
    left: 0;
    right: 2px;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address-design{
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    display: inline-block;
    transition: color 250ms var(--transition-variable);
}

.contact:hover,
.contact:active,
.link-design:hover,
.link-design:active{
    color: #404bbf;
}

/* SEKCJA PIERWSZA */

.title-background{
    background: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-tablet.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
    width: 100%;
    height: 432px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title-background{
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-tablet@x2.jpg);
    }
  }

.title{
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: 1.12px;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 72px;
}

.button{
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms var(--transition-variable);
}

.button:hover,
.button:active{
        background-color:  #404BBF;
}

/* SEKCJA DRUGA */

.menu-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

.characteristics{
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    margin-bottom: 8px;
    text-align: left;
}

.paragraph{
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.icon-conteiner{
    display: none;
}

.item{
    flex-basis: calc((100% - 24px) / 2);
}

/* SEKCJA TRZECIA */
.section-photo{
    display:none;
}

/* SEKCJA CZWARTA */

.section-team-header{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.menu-item-teams{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    margin-left: 108px;
    margin-right: 108px;
}

.section-team{
    background-color: #f4f4fd;
    padding-bottom: 72px;
}

.team{
    max-width: 264px;
    background-color: #fff;
    flex-basis: calc((100% - 24px) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.container-team{
    padding: 32px 0px;
    text-align: center;
}

.paragraph{
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.social-icon{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-item{
    width: 40px;
    height: 40px;
}

.social-media{
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--transition-variable);
}

.social-media:hover,
.social-media:focus{
    background-color: #404bbf;
}

.social-media-item{
    fill:#f4f4fd;
}

/* SEKCJA PIĄTA */

.menu-item-customer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    padding-bottom: 96px;
}

.customers{
    background-color: #fff;
    width: 168px;
    height: 88px;
}

.customers-box{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: color 250ms var(--transition-variable),
      border-color 250ms var(--transition-variable);
}

.customers-box:hover,
.customers-box:focus{
    border-color: #404bbf;
    color: #404bbf;
}

.customers-icon{
    fill: currentColor;
}

/* STOPKA */

.footer-background{
    background-color: #2e2f42;
    padding: 96px 0;
}

.container-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    max-width: 550px;
}

.footer{
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-left: 0px;
}

.logo-decorations{
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-paragraph{
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.footer-media{
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.socials-media{
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms var(--transition-variable);
}

.socials-media:hover,
.socials-media:focus{
    background-color: #31d0aa;
}

.media{
    display: flex;
    gap: 16px;
}

.social-item{
    width: 40px;
    height: 40px;
}

.footer-media{
    color: #e7e9fc;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: left;
}

.email{
    display: flex;
    gap: 24px;
}

.email input[placeholder] {
    color: #fff;
  }

.mail-decoration{
    gap: 24px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
}

.button-subscribe{
    min-width: 165px;
    height: 40px;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
}

.subscribe-footer{
    margin-left: 16px;
}

/* HAMBURGER */

.menu-hamburger {
    display: none;
}

  .menu-container-a {
    display: none;
}
}

/* ================================================= DESKTOP ========================================= */
@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }
  
    .section {
      padding: 120px 0;
    }


/* HEADER */

.page-header {
    border-bottom: 1px solid var(--background-color-2);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 40px;
}

.menu-address{
    display: flex;
    gap: 40px;
}

.box{
    display: flex;
    align-items: center;
}

.logo-decoration{
    color: #434455;
    font-family: "Raleway", sans-serif;
}

.logo{
    font-family: "Raleway", sans-serif;
    color: #404bbf;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.link-design{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    display: inline-block;
    padding: 24px 0;
    transition: color 250ms var(--transition-variable);
    position: relative;

}

.link-active{
    color: #404bbf;
    position: relative;
}

.link-active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 2px;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address-design{
    font-style: normal;
    display: flex;
}

.contact{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    display: inline-block;
    padding: 24px 0;
    transition: color 250ms var(--transition-variable);
}

.contact:hover,
.contact:active,
.link-design:hover,
.link-design:active{
    color: #404bbf;
}

/* SEKCJA PIERWSZA */

.title-background{
    background: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
    height: 600px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.title-background{
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background@x2.jpg);
}
}

.title{
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: 1.12px;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 48px;
}

.button{
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms var(--transition-variable);
}

.button:hover,
.button:active{
    background-color:  #404BBF;
    cursor: pointer;
}

/* SEKCJA DRUGA */

.characteristics{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: left;
}

.paragraph{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.menu-header{
    display: flex;
    gap: 24px;
}

.icon-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: none;
    margin-bottom: 8px;
}

.item{
    flex-basis: calc((100% - 72px) / 4);
}

/* SEKCJA TRZECIA */

.section-photo{
    padding-bottom: 120px;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.menu-item-photo{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 0;
}

.item-photo{
    flex-basis: calc((100% - 48px) / 3);
}

/* SEKCJA CZWARTA */

.section-team-header{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.menu-item-teams{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
}

.section-team-header,
.header{
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

.section-team{
    background-color: #f4f4fd;
}

.team{
    max-width: 264px;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-container{
    padding: 32px 0px;
    text-align: center;
}

.text,.paragraph{
    color: v#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.social-icon{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-item{
    width: 40px;
    height: 40px;
}

.social-media{
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--transition-variable);
}

.social-media:hover,
.social-media:active{
    background-color: #404bbf;
}

.social-media-item{
    fill:#f4f4fd;
}

/* SEKCJA PIĄTA */

.menu-item-customer{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
    padding-bottom: 120x;
}

.customers{
    background-color: v#fff;
    width: 168px;
    height: 88px;
}

.customers-box{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: color 250ms var(--transition-variable),
      border-color 250ms var(--transition-variable);
}

.customers-box:hover,
.customers-box:focus{
    border-color: #404bbf;
    color: #404bbf;
}

.customers-icon{
    fill: currentColor;
}

/* STOPKA */

.footer-background{
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
    align-items: baseline;
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 0px;
}

.logo-decorations{
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-paragraph{
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.footer-media{
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: left;
}

.container-footer{
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.socials-media{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-media:hover,
.socials-media:focus{
    background-color: #31d0aa;
}

.footer{
    margin-right: 120px;
}

.media{
    display: flex;
    gap: 16px;
}

.footer-social{
    width: 40px;
    height: 40px;
}

.footer-form{
    margin-left: 80px;
}


.email{
    display: flex;
    gap: 24px;
}

.email input[placeholder] {
    color: #fff;
}

.mail-decoration{
    gap: 24px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
}

.buttom-subscribe{
    min-width: 165px;
    height: 40px;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
}

.subscribe-footer{
    margin-left: 16px;
    fill: #fff;
    color: currentColor
}

/* -------------------------- HAMBURGER MOBILE --------------------------- */

.menu-hamburger {
    display: none;
  }

  .menu-container-a {
    display: none;
}

 /* -------------------------------------- DATA MODAL WINDOW ------------------------------------ */

 .modal-window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms var(--transition-variable),
      visibility 250ms var(--transition-variable);
  }

  .modal-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms var(--transition-variable);
    padding: 72px 24px 24px 24px;
  }

  .form-text{
    color: #2e2f42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
  }

  .form{
    margin-bottom: 8px;
  }

  .form-name{
    color: #8e8f99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
    display: block;
  }

  .field-wrapper{
    position: relative;
    margin-bottom: 8px;
  }

  .icon-wrapper{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-wrapper:focus {
    border-color: #4d5ae5;
  }

  .icons-form{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .field-wrapper:focus + .icons-form {
    fill: #4d5ae5;
  }

  .field-wrapper-comment{
    margin-bottom: 16px;
  }

  .textarea {
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .textarea:focus {
    border-color: #4d5ae5;
  }

  .policy{
    margin-bottom: 24px;
  }

  .privacy{
    display: block;
    color: #8e8f99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }

  .privacy-check{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .privacy-checked:checked
    + .privacy
    .privacy-check{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .terms-text {
    padding-left: 8px;
  }

  .privacy-policy{
    color: #4d5ae5;
  }

  .bottom-send{
    display: block;
    min-width: 169px;
    height: 56px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-bottom{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color:#e7e9fc;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms var(--transition-variable),
      border 250ms var(--transition-variable);
  }

  .modal-bottom:hover,
  .modal-bottom:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
  }

  .bottom-modal{
    transition: fill 250ms var(--transition-variable);
  }

  .is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}